///// Reset

html {
  box-sizing: border-box; 
}
*, *:before, *:after {
  box-sizing: inherit; 
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

///// General Styles

h1,
h2 {
  font-size: 28px;
  margin: 0 0 30px 0;
}

p {
  margin: 0 0 10px 0;
}

body {
  background: #e0e0e0;
  font-family: Georgia, Times, serif;
}

a {
  color: #ed5162;
  text-decoration: none;
}

///// Main Styles

.intro {
  width: 600px;
  margin: auto;
  margin-top: 160px;
  font-size: 20px;
  line-height: 1.5em;
}

.nav {
  width: 600px;
  margin: auto;
  margin-top: 80px;
  font-size: 20px;
  li {
    line-height: 1.5em;
    img {
      display: none;
      width: 18px;
    }
    &:hover img {
      margin: 5px 0 0 -30px;
      display: block;
      float: left;
    }
  }
}

.list-section {
  width: 600px;
  margin: auto;
  margin-top: 80px;
  font-size: 20px;
  li {
    line-height: 1.5em;
  }
  p {
    font-style: italic;
  }
}

.footer {
  width: 100%;
  height: 300px;
}

